@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Espace Administrateur</h1>


<a href="CreationTickit">Creation des ticket</a>
<a href="ListeTicketDistribue">Liste des Participants</a>
<a href="ListeParticipants">Liste des Ticket validé</a>
<a href="ListeDesGains">Liste des lots gagné par les clients</a>

<a></a>